.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='#') B.Szajner - Les Siestes - Ekito
			| &nbsp;-&nbsp;2014

link(rel='stylesheet', href='/css/style.css')
script(src='/js/libs/bootstrap.min.js')
script(src='/js/libs/dropdown.js')

block footer