.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='http://szajner.net/') B.Szajner
			|  - 
			a(href='http://www.les-siestes-electroniques.com/') Les Siestes
			|  - 
			a(href='http://www.ekito.fr/') Ekito
			|  - 2014

link(rel='stylesheet', href='/css/style.css')
script(src='/js/libs/bootstrap.min.js')
script(src='/js/libs/dropdown.js')

block footer