<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Hamelin</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script type="text/javascript" src="/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/jquery-knob/js/jquery.knob.js"></script>
		<script type="text/javascript" src="/angular/angular.min.js"></script>
		<script type="text/javascript" src="/angular-knob/src/angular-knob.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		
		<script type="text/javascript" src="/js/devices/devicesApp.js"></script>
		<script type="text/javascript" src="/js/devices/services/devicesSocket.js"></script>
		<script type="text/javascript" src="/js/devices/controllers/devicesCtrl.js"></script>
		
		<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'>
		<link rel='stylesheet' href='./css/style.css'>
	</head>

	<body ng-app="hamelinDevices" ng-controller="devicesCtrl">
		<div class="container" >
			<div class="jumbotron">
				<div>
					<h1>Device infos</h1>
					<h4>Id : {{deviceInfo.id}}</h4>
					<h4>Status : {{deviceInfo.status}}</h4>
				</div>
				<div>
					<h1>Device orientation</h1>
					<h4>Enabled : {{deviceOrientation.enabled}}</h4>
					<div ng-if="deviceOrientation.enabled">
						<h4>Status : {{deviceOrientation.status}}</h4>
						<h4>Left/Right : {{deviceOrientation.tiltLR}}</h4>
						<h4>Front/Back : {{deviceOrientation.tiltFB}}</h4>
					</div>
				</div>
				<div>
					<h1>Device motion</h1>
					<h4>Enabled : {{deviceMotion.enabled}}</h4>
					<div ng-if="deviceMotion.enabled">
						<h4>Status : {{deviceMotion.status}}</h4>
						<h4>X : {{deviceMotion.x}}</h4>
						<h4>Y : {{deviceMotion.y}}</h4>
						<h4>Z : {{deviceMotion.z}}</h4>
					</div>
				</div>
				<div ng-if="debug.enabled">
					<h4>Debug : {{debug.message}}</h4>
				</div>
			</div>
		</div>
	</body>
</html>