<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Hamelin</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		<script type="text/javascript" src="/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/jquery-knob/js/jquery.knob.js"></script>
		<script type="text/javascript" src="/angular/angular.min.js"></script>
		<script type="text/javascript" src="/angular-knob/src/angular-knob.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="/scripts/devices/devicesApp.js"></script>
		<script type="text/javascript" src="/scripts/devices/services/devicesSocket.js"></script>
		<script type="text/javascript" src="/scripts/devices/controllers/devicesCtrl.js"></script>
		
		<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'>
        
	</head>
	
	<body ng-app="hamelinDevices" ng-controller="devicesCtrl">
		<div class="container" >
			<div class="jumbotron">
				<h4 ng-if="device.status != 'onAir'" style="text-align : center;"><b>Bravo !</b><br>Attendez qu'un messager vous fasse signe !</h4>
				<button ng-if="device.status == 'pending'" style="width: 100%" class="btn btn-default btn-lg" disabled>
					EN ATTENTE ...
				</button>
				<button ng-if="device.status == 'onAir'" style="width: 100%" class="btn btn-danger btn-lg" disabled>
					ON AIR
				</button>
			</div>
			<div style="display: table; margin: 0 auto;" class="row">
				<knob knob-data="currentTime" knob-max='timeLimit' knob-options="knobOptions" class="timer"></knob>
			</div>
		</div>
		<div class="container">
			<footer>
				<hr style='margin: 30px 0 10px 0;'>
				<span>&copy;&nbsp;
					<a href="#">B.Szajner</a> -
					<a href="#">Les Siestes</a> -
					<a href="#">Ekito</a>
				</span>
				<span class="pull-right">{{device.id}}</span>
				<span ng-if="device.leader" class="glyphicon glyphicon-user pull-right" style="color: #FF0000">&nbsp;</span>
			</footer>
		</div>
	</body>
</html>