extends layout

block content
	div.container
		div.row
			div.col-sm-1
			div.col-sm-4
				h3 OSC Server Configuration
				hr
				form.form-horizontal(id="oscForm")
					div.form-group
						label.col-sm-4.control-label(for="oscServerIp") Server IP
						div.col-sm-8
							input.form-control(type="text", id="oscServerIp")
					div.form-group
						label.col-sm-4.control-label(for="oscServerPort") Server Port
						div.col-sm-8
							input.form-control(type="number", id="oscServerPort")
					div.form-group
						label.col-sm-4.control-label(for="oscRootAddress") Root Address
						div.col-sm-8
							input.form-control(type="text", id="oscRootAddress")
					hr
					div.form-group
						div.pull-right
							button.btn.btn-primary(type="button" onclick="updateOscServerParams()") Update
			div.col-sm-1
			div.col-sm-4
				h3 Test
				hr
				form.form-horizontal(id="oscTest")
					div.form-group
						label.col-sm-4.control-label(for="oscAddress") Address
						div.col-sm-8
							input.form-control(type="text", id="oscAddress")
					div.form-group
						label.col-sm-4.control-label(for="oscMessage") Message
						div.col-sm-8
							input.form-control(type="text", id="oscMessage")
					div.form-group
					br
					hr
					div.form-group
						div.pull-right
							button.btn.btn-primary(type="button", onclick="sendOSCMessage()") Test
		script(src='scripts/monitors/configuration.js')
