<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>Participants number : {{participantsNb}} / {{maxParticipants}}</h3>
			<div>
				<slider ng-model="maxParticipants" floor="0" ceiling="100" step="1" precision="0" ng-change="sendMaxParticipants(maxParticipants)">
				</slider>
			</div>
			<h3>List of devices</h3>
			<hr>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>SocketId</th>
						<th>Active</th>
						<th>OnAir</th>
						<th class="actionColumn"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="device in connectedDevices">
						<td>{{device.index}}</td>
						<td>{{device.id}}</td>
						<td>{{device.active}}</td>
						<td>{{device.onAir}}</td>
						<td class="actionColumn">
							<a ng-if="!leaderDevice.index"><span class="glyphicon glyphicon-user clickable"
									data-toggle="tooltip" data-placement="bottom" title="Sélectionner le leader" 
									ng-click="selectLeader(device)"></span></a>
							<a ng-if="device.index == leaderDevice.index"><span class="glyphicon glyphicon-user" style="color: #FF0000"
									data-toggle="tooltip" data-placement="bottom" title="Désélectionner le leader"
									ng-click="unSelectLeader()"></span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>