<div class="container">
	<div class="jumbotron hamelin-jumbo">
		<h1> Hamelin</h1>
		<h4> Une expérience musicale collective temps réel...</h4>
		<h4>
			<a href="http://www.les-siestes-electroniques.com/Projet-Hamelin?lang=fr" role="button"> En savoir plus »</a>
		</h4>
		<p>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<a href="itms-services://?action=download-manifest&url=https://dl.dropbox.com/u/6453291/hamelin/Hamelin.plist"><img class="app-download" src="/images/appstore.png"></a>
			</div>
			<div class="col-xs-12 col-md-6">
				<a href="https://play.google.com/store/apps/details?id=fr.ekito.hamelin"><img class="app-download" src="/images/google-play.png"></a>
			</div>
		</div>
	</div>
</div>
