extends layout

block content
	div.container
		div.jumbotron
			h1 Hamelin
			p Une expérience musicale collective temps réel... 
			p
				a(href="#" class="btn btn-primary btn-lg" role="button") En savoir plus »
